/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	main: '';
	main: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style CSS */
body {
	font: 16px/28px arial, sans-serif;
	background-color: rgb(223, 223, 223);
	background-image: url(image/3.png);
}

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 45px;
	background-color: rgb(46, 46, 46);
	z-index: 10;
	opacity: 0.9;
}

.container {
	width: 960px;
	margin: 80px auto;
	background-color: rgb(233, 233, 233);
	position: relative;
}

.twitter {
	width: 200px;
	height: 200px;
	position: absolute;
	top: -21px;
	right: -27px;
}

.header {
	padding: 20px;
	padding-bottom: 10px;
	background-color: rgb(230, 0, 96);
}

.header .judul {
	font-size: 40px;
	color: rgb(255, 255, 255);
	margin-bottom: 8px;
	font-weight: bold;
}

.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}

.header a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 3px;
	font-weight: bold;
}

.header a:hover {
	color: rgb(0, 0, 0);
}

.coding {
	height: 320px;
	background-image: url(image/2.jpg);
	background-size: cover;
	background-position: 0 -200px;
	border-top: 1px solid rgb(202, 202, 202);
	border-bottom: 1px solid rgb(202, 202, 202);
}

.main {
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
	/* background-color: orange; */
}

.main h2 {
	font-size: 28px;
	font-weight: bold;
}

.main .penulis {
	font-size: 12px;
	margin-top: -5px;
}

.main .penulis a {
	color: red;
	padding: 2px;
	text-decoration: none;
}

.main .penulis a:hover {
	background-color: rgb(0, 74, 143);
	color: white;
}

.main p {
	margin-bottom: 20px;
	font-size: 14px;
	text-align: justify;
}

.sidebar {
	width: 300px;
	padding: 20px;
	/* box-sizing: border-box; */
	/* background-color: salmon; */
	float: right;
}

.sidebar h3 {
	font-weight: bold;
	color: rgb(56, 56, 56);
}

.sidebar img {
	width: 70px;
	float: left;
	margin-right: 10px;
}

.sidebar p {
	font: 14px/18px arial;
	text-align: justify;
}

.footer {
	background-color: rgb(37, 37, 37);
	padding: 10px;
	border-top: 1px solid rgb(119, 119, 119);
	border-bottom: 1px solid rgb(34, 34, 34);
}

.footer .copy {
	color: rgb(245, 245, 245);
	text-align: center;
	font-size: 12px;
}

/* CLEAR FLOAT */
.clear:before,
.clear:after {
	content: "";
	/* 1 */
	display: table;
	/* 2 */
}

.clear:after {
	clear: both;
}

.clear {
	*zoom: 1;
}